<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <u><h1>5 Cocktails and their Proper Glasses</h1></u>
    <ol>
    <h2><li>{{ cocktail_name0 }}</li> </h2>
    <h3><dd>- Served in: {{ cocktail_glass0 }}</dd></h3>
    <img src="{{ cocktail_image0 }}"> 
    <br><br><br>
    <h2><li>{{ cocktail_name1 }}</li></h2>
    <h3><dd>- Served in: {{ cocktail_glass1 }}</dd></h3>
    <img src="{{ cocktail_image1 }}">
    <br><br><br>
    <h2><li>{{ cocktail_name2 }}</li> </h2>
    <h3><dd>-Served in: {{ cocktail_glass2 }}</dd></h3>
    <img src="{{ cocktail_image2 }}"> 
    <br><br><br>
    <h2><li>{{ cocktail_name3 }}</li> </h2>
    <h3><dd>-Served in: {{ cocktail_glass3 }}</dd></h3>
    <img src="{{ cocktail_image3 }}"> 
    <br><br><br>
    <h2><li>{{ cocktail_name4 }}</li> </h2>
    <h3><dd>-Served in: {{ cocktail_glass4 }}</dd></h3>
    <img src="{{ cocktail_image4 }}"> 
    </ol>
</body>
</html>