<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  </head>

  <body>
    <!-----
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#home">Home</a></li>
            <li role="presentation"><a href="/showSignin">Sign In</a></li>
 	          <li role="presentation"><a href="/showSignUp">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>--> 
    <!---<div class="container">
      <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#showSignin">Sign In</a>
        <a href="#showSignUp">Sign Up</a>
        <input type="text" placeholder="Search..">
        <h3 class="text-muted">Python Flask App</h3>
      </div>
    -->
    <header>
      <a href="#" class="logo">Python Flask App</a>
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/showSignin" class="active">Sign In</a></li>
        <li><a href="/showSignUp" class="active">Sign Up</a></li>
        <!--<li><a href="/addWish" class="active">Add Wish</a></li>-->
    </header>

    <section>
      <h2 id="text">Bucket List App</h2>
      <a href="/showSignUp" id="btn" role="button">Sign Up Today</a>
    </section>
      <!--<div class="jumbotron">
        <h1>Bucket List App</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="/showSignUp" role="button">Sign up today</a></p>
      </div>-->
      <div class="row">
        <!--<div class="col-lg-6"-->
          <h2>Our Bucket List</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Bucket List</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Bucket List</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col">
          <h4>Bucket List</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Bucket List</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Bucket List</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>
        <div class="row marketing">
        <div class="col-lg-6">
          <h4>Bucket List</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Bucket List</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Bucket List</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Bucket List</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Bucket List</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Bucket List</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>
    <script>
      window.addEventListener('scroll', function(){
        let value = window.scrollY;
        text.style.marginRight = value * 4 + 'px';
      })
    </script>
      <footer class="footer">
        <p>&copy; Fire Ferrets 2021</p>
      </footer>

    </div>
  </body>
</html>
